<p id="notice"><%= notice %></p>

<h1>Listing Todos</h1>

<ul id="todo-list"></ul>

<br>

<%= link_to 'New Todo', new_todo_path %>

<% content_for(:javascript) do %>
  <script type="text/javascript">
    $(function() {
      var collection = new TodoApp.Collections.TodoCollection;
      var todoListView = new TodoApp.Views.TodoListView({collection: collection});
      collection.reset(<%= raw render(template: 'todos/index.json.jbuilder') %>);
    });
  </script>
<% end %>
